<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}"
	>
<div layout:fragment="content">
    <script th:src="@{/javascript/logicTree/main.js}"></script>
	<div class="container">
	<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Step1 全体像を把握する</li>
          <li class="breadcrumb-item">Step2 ピラミッド構造=PREPを作成する</li>
          <li class="breadcrumb-item" aria-current="page">生成されたメール文章</li>
        </ol>
	</nav>

    </div>
</div>
</html>