<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}"
	>
<div layout:fragment="content">
	<div class="container">
	<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active">Step1 全体像を把握する</li>
          <li class="breadcrumb-item">Step2 ピラミッド構造=PREPを作成する</li>
          <li class="breadcrumb-item" aria-current="page">生成されたメール文章</li>
        </ol>
	  </nav>
	  
	        <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">出来上がったメールの文章</h4>
        <p>
          あなたの回答から以下のようにメール文章を作成しました。<br>
          必要であれば手直しを行い空いてに送ってください。
        </p>
      </div>
      <div class="alert alert-light" role="alert">
        <pre>
いつもお世話になっております。
xxx株式会社の●○です。
          
先日お問い合わせいただいた以下の件につき、ご回答申し上げます。
          
先日のお話しでは、以下の課題が炙り出されました。
     
「<mark><font th:text="${logicTree.partnerWants}"></font></mark>」
と言う貴社のご要望に対して、
「<mark><font th:text="${logicTree.currentState}"></font></mark>」
と回答いたしました。このギャップが課題として残りました。

本日は、この課題についてご報告いたします。
          
この点につきまして、
          
「<mark><font th:text="${pyramidList[0].conclusion}"></font></mark>」

とさせていただきたく思います。
          
理由は「<mark>4</mark>」つあります。
         
一つ目は、「<mark><font th:text="${reasonList[0].word}"></font></mark>の視点」、二つ目は「<mark><font th:text="${reasonList[1].word}"></font></mark>の視点」、三つ目は「<mark><font th:text="${reasonList[2].word}"></font></mark>の視点」、四つ目は「<mark><font th:text="${reasonList[3].word}"></font></mark>の視点」です。
    
まず、「<mark><font th:text="${reasonList[0].word}"></font></mark>」の視点です。
<mark><font th:text="${reasonList[0].anotherExplanation}"></font></mark>
<mark><font th:text="${reasonList[0].explanation}"></font></mark>
          
<mark><font th:text="${exampleList[0].explanation}"></font></mark>

次に「<mark><font th:text="${reasonList[1].word}"></font></mark>」の視点です。
<mark><font th:text="${reasonList[1].anotherExplanation}"></font></mark>
<mark><font th:text="${reasonList[1].explanation}"></font></mark>

<mark><font th:text="${exampleList[1].explanation}"></font></mark>

          
3点目は「<mark><font th:text="${reasonList[2].word}"></font></mark>」の視点です。
<mark><font th:text="${reasonList[2].anotherExplanation}"></font></mark>
<mark><font th:text="${reasonList[2].explanation}"></font></mark>

<mark><font th:text="${exampleList[2].explanation}"></font></mark>
<mark><font th:text="${exampleList[3].explanation}"></font></mark>


最後に「<mark><font th:text="${reasonList[3].word}"></font></mark>」の視点です。
<mark><font th:text="${reasonList[3].anotherExplanation}"></font></mark>
<mark><font th:text="${reasonList[3].explanation}"></font></mark>

<mark><font th:text="${exampleList[4].explanation}"></font></mark>

以上のことから、
          
貴社と弊社のギャップを埋める対策として、
          
「<mark><font th:text="${pyramidList[0].conclusion}"></font></mark>(←※結論)」
          
をご提案します。
          
 以上、よろしくお願いします。
 
          </pre>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	  
	</div>
</html>