<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FrameworkElementMapper">
	<resultMap type="FrameworkKind" id="frameworkKindResult">
		<id column="id" property="id"/>
		<result column="summary" property="summary"/>
		<collection property="frameworkList" ofType="Framework">
			<result column="framework_id" property="id"/>
			<result column="id" property="frameworkKindId"/>
			<result column="content" property="content"/>
		</collection>
	</resultMap>
    <select id="findFrameworkKind" resultMap="frameworkKindResult">
		select 
			kind.id,
			kind.summary, 
			framework.id as framework_id,
			framework.content
		from 
			framework_kinds kind 
		left join 
			frameworks framework 
		on 
			kind.id = framework.framework_kind_id;
    </select>
    <select id="findFrameworkElementById" parameterType="int" resultType="FrameworkElement">
    	select 
    		*
    	from
    		framework_elements
    	where
    		framework_id = #{id};
    </select>
    
</mapper>