<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.runy.logical_thinking.mapper.ReasonMapper">
    <select id="selectReason" resultType="jp.co.runy.logical_thinking.domain.Reason">
		select 
			id, 
			word,
			another_explanation,
			explanation,
			pyramid_id
		from 
			reasons
		where
			session_id = #{sessionId};
    </select>
</mapper>