<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.runy.logical_thinking.mapper.ThirdHierarchyMapper">
	<select id="selectThirdHierarchy" resultType="jp.co.runy.logical_thinking.domain.ThirdHierarchy">
		select id, explanation, second_hierarchy_id from third_hierarchies;
    </select>
</mapper>